<!DOCTYPE html>
<html>
<head>
<title>We Connect</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="bootstrap-4.0.0-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="main.css" rel="stylesheet" />
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page
via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/
html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/
respond.min.js"></script>
<![endif]-->
</head>
<body>
   
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="index.html">Weconnect</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
      </li>      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Category
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Agriculture</a>
          <a class="dropdown-item" href="#">Technology</a>
          <a class="dropdown-item" href="#">Commerce</a>
          <a class="dropdown-item" href="#">Health</a>
          <a class="dropdown-item" href="#">Engineering</a>
          <div class="dropdown-divider"></div>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
       
        <div class="container" >
            <div class="row">
              <div class="col-md-8">
                    <h3>Banana Enterprise Ltd</h3><br>
                    <img src="images/banana.jpg">
                           
                    <p> We are into import and export of banana all our products and machinery are nigerian made, 
                        we uphold the unity of our country and provide food for the nation. We are located at the fertile Oyo state of Nigeria.
                        You can reach from the following contact.....                    
                    </p>
                    <form>                                                            
                            <div class="form-group row" >
                                        <label for="address" class="col-md-3 col-form-label">Address</label>
                                        <div class="col-md-9">
                                            <p class="col-form-label" id="phone" >Lagos express way Jesuloluwa street, Apapa</p>
                                        </div>
                                      </div>  
                            <div class="form-group row">
                                            <label for="phone" class="col-md-3 col-form-label">Phone</label>
                                            <div class="col-md-9">
                                                    <p class="col-form-label" id="phone" >08030000001</p>
                                            </div>
                                      </div>
                            <div class="form-group row">
                              <label for="inputEmail3" class="col-md-3 col-form-label">Email</label>
                              <div class="col-md-9">
                                    <p class="col-form-label" id="inputEmail3" >yourbusiness@hotmail.com</p>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="website" class="col-md-3 col-form-label">Website</label>
                              <div class="col-md-9 col-form-label">
                                <a href="#" id="website" >www.yourbusiness.com</a>
                              </div>
                            </div>
                            <div class="form-group row">
                                    <label for="sector" class="col-md-3 col-form-label">Website</label>
                                    <div class="col-md-9 col-form-label">
                                      <p href="#" id="sector" >Agriculture</p>
                                        </div>                                
                                </div>                        
                        
                          </form> 
                          <h3>Reviews</h3>
                          <h6>Paul</h6>
                          <p>This is the right place to get your food, I recommed 100%</p>
                          <h6>Peter</h6>
                          <p>This is the right place to get your food, I recommed 100%</p>
                          <h6>James</h6>
                          <p>This is the right place to get your food, I recommed 100%</p>

              </div>
              <div class="offset-md-1 col-md-3">
                    <h3 class="text-center">Similar businesses</h3><br>
                    <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="images/2.jpg" alt="Card image cap">
                            <div class="card-body">
                            <h5 class="card-title">Sunnol</h5>
                            <p class="card-text">We as a company buys and sells goods, makes products, and provides services for everybody.</p>
                            <a href="#" >Read more</a>                            
                            </div>
                            </div><br>
                            <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" src="images/4.jpg" alt="Card image cap">
                                    <div class="card-body">
                                    <h5 class="card-title">Sunnol</h5>
                                    <p class="card-text">We as a company buys and sells goods, makes products, and provides services for everybody.</p>
                                    <a href="#" >Read more</a>
                                    </div>
                                    </div><br>
                                    <div class="card" style="width: 18rem;">
                                            <img class="card-img-top" src="images/3.jpg" alt="Card image cap">
                                            <div class="card-body">
                                            <h5 class="card-title">Sunnol</h5>
                                            <p class="card-text">We as a company buys and sells goods, makes products, and provides services for everybody.</p>
                                            <a href="#" >Read more</a>
                                            </div>
                                            </div><br>                            
              </div>
            </div>
                
              
        </div>

  </div>
    
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>
<footer class="text-center text-white">
    Powered by Weconnect Team &copy;2018
</footer>