h1,h2,h3 {
    color:blue;
}
#homeh1 {
    padding-top: 9%;
}
#homerow {
    width: 60%;
}
#homeh5 {
    margin-top:30px;
}
#footer {
    margin-right:30%;
    /* color:white;*/
}
#brand_link {
    font-family: Calibri;
    font-size:28pt;
}
#homeform {
    margin-top: 5%;
}
#home_signin {
    margin: 0 10px 0 30px;
}
#home_register_btn {
    margin-left: 30px;
}
#homediv {
    padding:10px;
    margin-bottom:50px;
    background-image:url(images/puzzle.jpg);
    height:450px;
}
#register_span {
    width: 60%;
}
#registerh4 {
    margin-top:30px;
}
.hometext {
    color:white;
    text-shadow:4px 4px 8px blue;  
}
.register_card {
    padding-left: 20px;
    width: 60%;
}
.card_custom {
    padding-bottom: 10px;
    /* min-height: 80%; */
    /* border: solid royalblue; */
    /* width: 80%; */
}
.detail_card {
    width: 15rem;
}
div.row {
    padding-top: 10px;
}
button.custom {
    margin: 15px;
    padding: 0px;
    width:100px;
    height: 30px;
}
button.register_custom {
    margin: 10px;
}
input.custom {
    border-radius: 5px;
    border:red;
    height: 40px;
    background: lightblue;
}
footer {
    padding: 10px;
    background: white;
    margin-top:40px;
    height:50px;
}