<!DOCTYPE html>
<html>

<head>
  <title>We Connect</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" shrink-to-fit=no">
<!-- Bootstrap -->
<link href="bootstrap-4.0.0-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="main.css" rel="stylesheet" />
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page
via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/ html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/ respond.min.js"></script>
<![endif]-->
</head>
<body>      
    <div id="homediv">
      <nav class="navbar navbar-primary justify-content-between">
        <a id="brand_link" href="index.html" class="navbar-brand text-primary">WeConnect</a>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="search" />
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
          <button id="home_signin" class="btn btn-outline-primary my-2 my-sm-0">Home</button>
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Sign Out</button>
        </form>
      </nav>
      <h1 id="homeh1" class="text-center"> Welcome to Weconnect!</h1>
      <h3 class="text-center">We connect businesses with individuals, Register with us</h3>
    </div>
    
    <div class="container">
      <span id="register_span" class="row mx-auto">
        <h4 id="registerh4" class="text-center">You have not registered any business</h4>
        <button class="btn btn-primary custom">Register</button>
      </span>
      <div id="homerow">
    
        <form>
          <div class="form-group row">
            <label for="bname" class="col-md-4 col-form-label">Business Name</label>
            <div class="col-md-8">
              <input type="text" class="form-control" id="bname" placeholder="Business Name">
            </div>
          </div>
          <div class="form-group row">
            <label for="description" class="col-md-4 col-form-label">Description</label>
            <div class="col-md-8">
              <input type="text" class="form-control" id="description" placeholder="Description">
            </div>
          </div>
          <div class="form-group row">
            <label for="address" class="col-md-4 col-form-label">Address</label>
            <div class="col-md-8">
              <input type="text" class="form-control" id="address" placeholder="Address">
            </div>
          </div>
          <div class="form-group row">
            <label for="phone" class="col-md-4 col-form-label">Phone</label>
            <div class="col-md-8">
              <input type="text" class="form-control" id="phone" placeholder="08030000001">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-md-4 col-form-label">Email</label>
            <div class="col-md-8">
              <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
          </div>
          <div class="form-group row">
            <label for="website" class="col-md-4 col-form-label">Website</label>
            <div class="col-md-8">
              <input type="text" class="form-control" id="website" placeholder="www.yourbusiness.com">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputState" class="col-md-4 col-form-label">Sector</label>
            <div class=" col-md-8">
              <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option>Agriculture</option>
                <option>Commerce</option>
                <option>Manufacturing</option>
                <option>Engineering</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-md-4 col-md-8">
              <button type="submit" class="btn btn-success">Submit</button>
              <button type="update" class="btn btn-success" disabled>Update</button>
            </div>
          </div>
        </form>
      </div>
      <h5> Businesses in your location</h5>
      <div class="row">
        <div class="card-deck">
          <div class="card">
              <a href="detail.html">
            <img class="card-img-top" src="images/6.JPG" alt="Card image cap">
              </a>
            <div class="card-body">
              <h5 class="card-title">Konga</h5>
              <p class="card-text">We as a company buys and sells goods, makes products, and provides services for everybody.</p>
              <p class="card-text">
                <small class="text-muted">Established since 1960</small>
              </p>
            </div>
          </div>
          <div class="card">
              <a href="detail.html">
            <img class="card-img-top" src="images/farm2.JPG" alt="Card image cap">
              </a>
            <div class="card-body">
              <h5 class="card-title">Jumia</h5>
              <p class="card-text">We as a company buys and sells goods, makes products, and provides services for everybody. The best!</p>
              <p class="card-text">
                <small class="text-muted">Established since 1960</small>
              </p>
            </div>
          </div>
          <div class="card">
              <a href="detail.html">
            <img class="card-img-top" src="images/farm.JPG" alt="Card image cap">
              </a>
            <div class="card-body">
              <h5 class="card-title">McDonald</h5>
              <p class="card-text">We as a company buys and sells goods, makes products, and provides services for everybody. The best!</p>
              <p class="card-text">
                <small class="text-muted">Established since 1960</small>
              </p>
            </div>
          </div>
          <div class="card">
              <a href="detail.html">
            <img class="card-img-top" src="images/4.JPG" alt="Card image cap">
              </a>
            <div class="card-body">
              <h5 class="card-title">St. Mike School</h5>
              <p class="card-text">We as a company buys and sells goods, makes products, and provides services for everybody. The best!</p>
              <p class="card-text">
                <small class="text-muted">Established since 1960</small>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card-deck">
          <div class="card">
              <a href="detail.html">
            <img class="card-img-top" src="images/4.JPG" alt="Card image cap">
              </a>
            <div class="card-body">
              <h5 class="card-title">Konga</h5>
              <p class="card-text">We as a company buys and sells goods, makes products, and provides services for everybody.</p>
              <p class="card-text">
                <small class="text-muted">Established since 1960</small>
              </p>
            </div>
          </div>
          <div class="card">
              <a href="detail.html">
            <img class="card-img-top" src="images/2.JPG" alt="Card image cap">
              </a>
            <div class="card-body">
              <h5 class="card-title">Jumia</h5>
              <p class="card-text">We as a company buys and sells goods, makes products, and provides services for everybody. The best!</p>
              <p class="card-text">
                <small class="text-muted">Established since 1960</small>
              </p>
            </div>
          </div>
          <div class="card">
              <a href="detail.html">
            <img class="card-img-top" src="images/3.JPG" alt="Card image cap">
              </a>
            <div class="card-body">
              <h5 class="card-title">McDonald</h5>
              <p class="card-text">We as a company buys and sells goods, makes products, and provides services for everybody. The best!</p>
              <p class="card-text">
                <small class="text-muted">Established since 1960</small>
              </p>
            </div>
          </div>
          <div class="card">
              <a href="detail.html">
            <img class="card-img-top" src="images/4.JPG" alt="Card image cap">
              </a>
            <div class="card-body">
              <h5 class="card-title">St. Mike School</h5>
              <p class="card-text">We as a company buys and sells goods, makes products, and provides services for everybody. The best!</p>
              <p class="card-text">
                <small class="text-muted">Established since 1960</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
</body>
</html>
<footer class="text-white">
    <a id="footer" href="#">Documentation</a>
    Powered&nbsp;by&nbsp;Weconnect&nbsp;Team&nbsp;&copy;2018
  </footer>